@import "tailwindcss";

@theme {
  --color-sage: #A4B885;
  --color-rust: #D46D25;
  /* --color-peach: #FDC086; */
  --color-peach: #FFB066;
  /* --color-peach: #FFA34D; */
  /* --color-peach: #FF9633; */
  --color-cream: #FFF6A1;
  --font-sans: 'Elms Sans', sans-serif;
}

.bg-noise {
  background-image: url(
    "data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.45' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.3'/%3E%3C/svg%3E");
  background-blend-mode: overlay;
}

.text-outline {
  -webkit-text-stroke: 0.2px black;
}

.nav-fade {
  background: linear-gradient(to bottom, var(--color-sage) 0%, var(--color-cream) 100%);
}

input:-webkit-autofill, input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, input:-webkit-autofill:active {
  box-shadow:  0 0 0 1000px var(--color-cream) inset;
}