{% load static %}
<html>
  <head>
    <title>
      {% block title %}Cofa House Recipes{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/tailwind-bundle.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">
  </head>
  <body class="bg-cream bg-noise riso-paper">
    <div id="navbar-root"></div>
    {{ user.is_authenticated|json_script:"user_authenticated" }}
    {{ user.is_superuser|json_script:"user_is_superuser" }}
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script type="module" src="{% static 'js/nav-bar-bundle.js' %}"></script>
  </body>
</html>
